<div id="app">
  <div class="wave">
      <img src="assets/images/wave1.png" alt="">
      <img src="assets/images/wave2.png" alt="">
      <img src="assets/images/wave3.png" alt="">
      <img src="assets/images/wave4.png" alt="">
  </div>
  <div class="flex-center position-ref full-height" [class.chat-open]="!closed">

      <div class="top left"><img src="assets/images/favicon.ico" width="83px"></div>

      <div class="content">
          <div class="title m-b-md">
              Hi There!
          </div>

          <div class="subtitle m-b-md">
              I am the much awaited member of the #GoDigi Team.<br>
              With me, your banking interactions are just a chat away.<br>
              Hit the button at the bottom right to get started.
          </div>

          <div class="links">
              <p>Coming soon on</p>
              <a href="#"><fa name="facebook" size="2x"></fa></a>
              <a href="https://join.skype.com/bot/aa3b379d-ae06-4635-96be-3e35bb089c04" target="_blank"><fa name="skype" size="2x"></fa></a>
              <a href="https://t.me/stanbic_bot" target="_blank"><fa name="telegram" size="2x"></fa></a>
          </div>

          <div class="chatbox">
              <div class="header">
                  <a href="#" (click)="closeChat()" id="closebtn"><img src="assets/images/closeicon.png" alt=""></a>
              </div>
              <div class="messages">
                  <ul id="chats">
                          <li [class]="chat.bot ? 'bot' : 'user'" *ngFor="let chat of chats; let index = index">
                              <span *ngIf="isSimpleResponse(chat)">{{chat.msg.speech}}</span>
                              <ng-container *ngIf="isSuggestion(chat)">
                                <input *ngFor="let reply of chat.msg.replies" [value]="reply" 
                                    (click)="respondSuggestion(reply, index)" type="button">
                              </ng-container>
                          </li>
                          <li *ngIf="loading">
                              <div class="square">
                              <div class="spinner">
                                  <div class="lightup6"></div>
                                  <div class="lightup5"></div>
                                  <div class="lightup4"></div>
                                  <div class="lightup3"></div>
                                  <div class="lightup2"></div>
                                  <div class="lightup1"></div>
                              </div>
                              </div>
                              <div class="clear"></div>
                          </li>
                          <li *ngIf="slotDialog" class="custom-btn">
                              <div>
                                  <button (click)="cancel">Cancel</button>
                              </div>
                          </li>
                      <div class="clear"></div> 
                  </ul>
              </div>
              <div class="footer fading-effect">
                  <div class="input-box">
                      <div class="input-message">
                          <input #textbox id="textbox" ng-model="input" (keyup.enter)="send(textbox.value)" placeholder="How can I be of assistance?" autofocus >
                      </div>
                  </div>
                  <div class="custom-btn">
                      <p>Some things you can ask me</p>
                      <div>
                          <button *ngFor="let action of actions" (click)="sendQuickaction(action)" >{{action}}</button>
                          <a href="mailto:StanbicGhanaGoDigi@mail.standardbank.com?subject=BOT Feedback - Staff Pilot" target="_blank">Give Feedback</a>
                      </div>
                  </div> 
              </div> 
          </div>

      </div>

      <div class="bottom left hashtag">#GoDigi</div>

      <div class="bottom right chat-button" (click)="openChat()"><img src="assets/images/chaticon.png" width="50px"></div>

  </div>
</div>